<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Retroalimantación de evaluación</title>
</head>
<body>
<style type="text/css">
p, li{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 13px;
}
td{
		font-family: "Trebuchet MS", Verdana, sans-serif;
		font-size: 13px;

	}
</style>
<table border="0" cellpadding="10" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" style="background-color: rgb(231, 231, 231);">
			<font face="arial,helvetica" size="1" color="#e7e7e7">Retroalimentación de evaluación.</font>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
						<tr>
							<td colspan="2" style="height: 18px;"><font face="arial,helvetica" size="2"><img alt="Duoc UC" src="https://staticcl1.fidelizador.com/duocuc/2021/agosto/semana-4/header-tracking.png" width="600"></font></td>
						</tr>
						
						<tr>
							<td align="center" colspan="2" style="border-left: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); background-color: rgb(255, 255, 255);"><table align="center" border="0" cellpadding="0" cellspacing="0" width="550">
							  <tbody>
							    
							    <tr>
							      <td align="left" style="height: 150px;"><p style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 1.6;">Estimado(a) [alumno]</p>
							        <p style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 1.6;">
    Por favor, no considere el informe de retroalimentación enviado anteriormente. Contenía un error al indicar que la evaluación convalidaba la asignatura.
</p>

<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 1.6;">
    El archivo adjunto en <strong>este</strong> correo es la versión correcta, la cual especifica que la evaluación <strong>no convalida</strong>.
</p>

<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 1.6;">
    Mis más sinceras disculpas por el inconveniente.
</p>

<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 1.6;">
    Saludos,
</p>

<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 1.6; margin-top: 20px;">
    <strong>[docente]</strong><br>
    Profesor de [asignatura] sección [seccion]<br>
    Sede [sede]
</p></p></td>
						        </tr>
						      </tbody>
						    </table></td>
						</tr>
						<tr>
							<td align="center" colspan="2" style="border-left: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); background-color: rgb(255, 255, 255);"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
						<tr>
							<td align="center" colspan="2" valign="middle" style="background-color: rgb(152, 152, 152);">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="550">
									<tbody>
										<tr>
											<td align="left" style="height: 50px;">
												<p><font face="arial,helvetica" size="2"><font face="arial,helvetica" size="2"><font color="#ffffff" face="Trebuchet MS, Arial, Helvetica, sans-serif">Duoc UC - Av.</font></font> <font color="#ffffff" face="Trebuchet MS, Arial, Helvetica, sans-serif" size="2">Eliodoro Y&aacute;&ntilde;ez 1595 - Providencia – Santiago.<br>
													+56 2 2354 0000 </font></font></p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="background-color: rgb(123, 123, 123); height: 6px;"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
						<tr>
							<td align="right" style="width: 455px;"><font face="arial,helvetica" size="2"><font color="#333333" face="Arial, Helvetica, sans-serif" size="1">Desarrollado por equipo SUDCRA</font></font></td>
							
						</tr>
						<tr>
							<td colspan="2"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
  </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>
